/*-- scss:defaults --*/

.definition {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .25rem;

    border-left: solid #acacac .3rem;
    border-right: solid 1px silver;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    border-left-color: #4582ec !important;

}

.definition-icon {}

.definition-header {}

.definition-body {}
